.coffee-icon {
    width: 16px;
    height: 16px;
}

:root {
    --primary-color: #eee2db;
    --secondary-color: whitesmoke;
    --heading-font: 'Comfortaa', cursive;
    --sub-heading-font: 'Ubuntu Condensed', sans-serif;
    --button-color: black;
    --button-hover-color: rgb(75, 47, 11);
}

body {
    background-color: var(--primary-color);
}

h1 {
    font-family: var(--heading-font);
}

h2 {
    font-family: var(--sub-heading-font);
    font-weight: normal;
}

.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 70px 40px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
   font-size: 20px;
   font-weight: normal;
}

#buy-now-button {
    font-weight: bold;
    border-radius: 350rem;
    padding: 10px 20px;
    text-align: center;
    line-height: 25px;
color: blanchedalmond;
background-color: var(--button-color);
border: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
transition-duration: .2s;
transition-timing-function: ease-in-out;
}

#buy-now-button:hover {
    background-color: var(--button-hover-color);
    color: white;
  }