.coffee-icon {
  width: 16px;
  height: 16px;
}

:root {
  --primary-color: #eee2db;
  --secondary-color: whitesmoke;
  --heading-font: 'Comfortaa', cursive;
  --sub-heading-font: 'Ubuntu Condensed', sans-serif;
  --button-color: black;
  --button-learn-more-color: #645349;
  --button-hover-color: rgb(75, 47, 11);
  --button-learn-more-hover-color: rgba(255, 255, 255, 0.836);
}

.index-page, 
.drinks-page {
  background-color: var(--primary-color);
}

.contact-page {
  background-color: var(--secondary-color);
}

.phone {
  font-family: var(--sub-heading-font);
}

.email {
  font-family: var(--sub-heading-font);
}

.address {
  font-family: var(--sub-heading-font);
}


h1 {
  font-family: var(--heading-font);
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-family: var(--sub-heading-font);
  font-weight: normal;
  font-size: 20px;
}

h3 {
  font-family: var(--heading-font);
  font-size: 15px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 70px 0 70px;
}

#initial-text {
  margin: 0px 250px 0px;
}

#buy-now-button {
  font-weight: bold;
  border-radius: 350rem;
  padding: 10px 20px;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
color: blanchedalmond;
background-color: var(--button-color);
border: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
transition-duration: .2s;
transition-timing-function: ease-in-out;
}

#buy-now-button:hover {
  background-color: var(--button-hover-color);
  color: white;
}

.btn-learn-more {
  font-weight: bold;
  border-radius: 350rem;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
color: blanchedalmond;
background-color: var(--button-learn-more-color);
border: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
transition-duration: .2s;
transition-timing-function: ease-in-out;
}

.btn-learn-more:hover {
  background-color: var(--button-learn-more-hover-color);
  color: rgb(71, 52, 52);
}

.coffee-logo {
  max-height: 100px;
}

.coffee-small {
  max-height: 50px;
  margin-top: 30px;
}

nav {
  padding: 20px;
}

nav a {
  font-family: var(--heading-font);
  text-decoration: none;
  color: var(--button-learn-more-color);
  transition: all 100ms ease-in-out;
  font-size: 14px;
}

nav a:hover,
nav li.active a {
color: var(--button-color);
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 20px;
}

nav ul {
  padding: 0px;
  margin-top: 40px;
}

img {
    border-radius: 10px;
}

#cappuccino-image {
  width: 300px;
  height: 200px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


#coffee-americano-image {
  width: 300px;
  height: 200px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#latte-macchiato-image {
  width: 300px;
  height: 200px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#crema-image {
  width: 300px;
  height: 200px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.drink-description {
  font-family: var(--sub-heading-font);
  font-size: 17px;
}

#youtube {
  height: 100px;
width: 120px;
}

#instagram {
  height: 80px;
width: 100px;
padding-right: 20px;
}

#twitter {
  height: 70px;
width: 70px;
}

.social-media {
display: flex;
justify-content: center;
align-items: center;
filter: grayscale(100%);
-webkit-filter: grayscale(100%); 
}

#drawn-cup {
  border-radius: 20px;
}

.contact-section {
  text-align: center;
}

.contact-section, h1 {
font-size: 80px;
}

.contact-section, p {
  font-size: 30px;
  }

footer {
margin-top: 90px;  
}

.drink-varieties,
#crema-image {
margin-bottom: 50px;
}

.drink-varieties,
#cappuccino-image {
margin-bottom: 50px;
}

.drink-varieties,
#latte-macchiato-image {
margin-bottom: 50px;
}

.drink-varieties,
#coffee-americano-image {
margin-bottom: 50px;
}

.footer-text {
  text-decoration: none;
}

footer .email-link {
  text-decoration: none;
  color: var(--button-learn-more-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--button-color);
}

footer .social-links a {
  margin: 0 30px;
  color: var(--button-learn-more-color);
  font-size: 40px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
}

.description-headline {
    margin: 40px 10px 70px 10px;
    font-family: var(--sub-heading-font);
    font-size: 18px;
    text-align: center;
}

@media (max-width: 900px) {
    .container {
        text-align: center;
    }
}

