.coffee-icon {
  width: 16px;
  height: 16px;
}

:root {
  --primary-color: #eee2db;
  --secondary-color: whitesmoke;
  --heading-font: 'Comfortaa', cursive;
  --sub-heading-font: 'Ubuntu Condensed', sans-serif;
  --button-color: black;
  --button-learn-more-color: #645349;
  --button-hover-color: rgb(75, 47, 11);
  --button-learn-more-hover-color: rgba(255, 255, 255, 0.836);
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--heading-font);
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-family: var(--sub-heading-font);
  font-weight: normal;
  font-size: 20px;
}

h3 {
  font-family: var(--heading-font);
  font-size: 15px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 70px 40px;
}

.hero-two {
  background-color: var(--secondary-color);
}

#buy-now-button {
  font-weight: bold;
  border-radius: 350rem;
  padding: 10px 20px;
  text-align: center;
  line-height: 25px;
  text-decoration: none;
color: blanchedalmond;
background-color: var(--button-color);
border: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
transition-duration: .2s;
transition-timing-function: ease-in-out;
}

#buy-now-button:hover {
  background-color: var(--button-hover-color);
  color: white;
}

.btn-learn-more {
  font-weight: bold;
  border-radius: 350rem;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
color: blanchedalmond;
background-color: var(--button-learn-more-color);
border: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
transition-duration: .2s;
transition-timing-function: ease-in-out;
}

.btn-learn-more:hover {
  background-color: var(--button-learn-more-hover-color);
  color: rgb(71, 52, 52);
}

img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

#cappuccino-image {
  width: 300px;
  height: 200px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#americano-image {
  width: 300px;
  height: 200px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#latte-machiatto-image {
  width: 300px;
  height: 200px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#crema-image {
  width: 300px;
  height: 200px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.description-headline {
    margin: 40px 10px 70px 10px;
    font-family: var(--sub-heading-font);
    font-size: 18px;
    text-align: center;
}

@media (max-width: 900px) {
    .container {
        text-align: center;
    }
}

